/* Home.css */

.page-container1 {
    position: relative;
    height: 100vh; /* Full-screen background */
    background-image: url('../images/homeedit1.jpeg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 5%;
    box-sizing: border-box;
    text-align: center;
    width: 70%;
    background-color: aquamarine;
}

/* Overlay for the content to make it stand out on the background */
   

/* Title and description styles */
.page-title {
    font-size: 5rem; /* Large font size */
    font-weight: bold;
    color: #fbd815; /* Accent color for the title */
    font-family: 'Roboto', sans-serif;
    margin-left: 90%;
}

.page-description {
    font-size: 1.5rem; /* Slightly larger tagline */
    line-height: 1.6;
    color: #ffffff;
    font-family: 'Open Sans', sans-serif;
    margin-top: 1rem;
    
}

/* Adjustments for smaller screens */
@media (max-width: 768px) {
    .content-overlay {
        padding: 20px;
        width: 90%;
    }
    .page-title {
        font-size: 1rem;
        margin-left: 30%;
    }
    .page-description {
        font-size: 1.4rem;
    }
}

/* Photo Slider Styling */
.photo-slider {
    width: 60%; /* Slider width */
    max-width: 500px;
    margin: 20px auto;
    padding: 10px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
    background-color: #f9e52c;
    border-radius: 10px;
}

.slider-image {
    width: 80%;
    height: auto;
    margin: 0 auto;
    display: block;
    border-radius: 8px;
}
.home-page{
    background-color: rgb(183, 225, 243);
}