/* NavBar.css */

.navbar {
    display: flex;
    align-items: center;
    padding: 10px 20px;
    background-color: #ffe628; /* Adjust background as needed */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .navbar-logo {
    margin-right: auto; /* Push links to the right */
  }
  
  .logo-image {
    height: 50px; /* Adjust the size as needed */
    width: auto;
  }
  
  .navbar-links {
    display: flex;
    gap: 20px;
  }
  
  .navbar-link {
    text-decoration: none;
    color: #333;
    font-weight: bold;
  }
  